<!DOCTYPE html>
<html lang="en">
<head>
    <title>insta485</title>
</head>
<body>
    <a href="{{url_for('show_index')}}" style="position:absolute;top:0;left:0;font-size:30px;">Insta485</a>
    <div style="position:absolute;top:0;right:0">
        <a href="{{url_for('show_explore')}}" style="font-size:30px;">Explore |</a>
        <a href="{{url_for('show_user', user_url_slug=logname)}}" style="font-size:30px;"> {{logname}}</a>
    </div>
    <br>
    <hr>
    <table>
        <tr>
            <td>
                Old password <br>
                New password <br>
                New password, again <br>
            </td>
            <td>
                <br>
                <form action="{{url_for('show_password')}}" method="post" enctype="multipart/form-data">
                    <input type="password" name="password"/> <br>
                    <input type="password" name="new_password1"/> <br>
                    <input type="password" name="new_password2"/> <br>
                    <input type="submit" name="update_password" value="submit"/>
                </form>
            </td>
        </tr>
    </table>
    
    <a href = "{{url_for('show_edit')}}">Back to edit account</a>
</body>
</html>